#frame
    %ul.keyboard
        .input
            .camera
            %input{:type=>'text',:placeholder=>'iMessage'}
            .submit Send
        .row-top
            %li q
            %li w
            %li e
            %li r
            %li t
            %li y
            %li u
            %li i
            %li o
            %li p
        .row-middle
            %li a
            %li s
            %li d
            %li f
            %li g
            %li h
            %li j
            %li k
            %li l
        .row-middle
            %li.caps
            %li z
            %li x
            %li c
            %li v
            %li b
            %li n
            %li m
            %li.delete
        .row-functions
            %li.char
            %li.keyboards
            %li.mic
            %li.space
            %li.return